<div class="container-fluid">
  <div class="row">
    <ul id="em-styles" class="pull-right nav nav-pills nav-stacked">
      <li role="presentation" class="none active"><a onclick="setStyle('none')">No style</a></li>
      <li role="presentation" class="clean"><a onclick="setStyle('clean')">Clean</a></li>
      <li role="presentation" class="avant-garde"><a onclick="setStyle('avant-garde')">Avant-garde</a></li>
    </ul>

    <div id="em-red"></div>
    <div id="em-green"></div>
    <div id="em-blue"></div>
    <div id="em-white4red" class="em-white"></div>
    <div id="em-white4green" class="em-white"></div>
    <div id="em-white4blue" class="em-white"></div>

    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), layout: :horizontal, label_col: 'col-sm-4', control_col: 'col-sm-8') do |f| %>
      <h2>E M App <small>Log in</small></h2>
      <%= f.email_field :email, autofocus: true %>
      <%= f.password_field :password, autocomplete: "off" %>
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
      <% end -%>
      <div class="text-right">
        <%= f.submit "Log in", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  (function($) {
    window.setStyle = function(name) {
      $('#em-styles li').removeClass('active');
      $('#em-styles li.' + name).addClass('active');
      $('body').removeClass('clean').removeClass('avant-garde');
      if (name != 'none')
        $('body').addClass(name);
    };
  })(jQuery);
</script>
